@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.comment-container {
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    margin-bottom: 40px;
    font-family: "Momo Trust Display", sans-serif;
    width: 700px;
}

.element-container {
    display: flex;
    justify-content: center;
}